:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer-container {
  height: 100%;
}
::ng-deep .mat-drawer-inner-container {
  background-color: #303030 !important;
}
.mat-drawer-side {
  border:unset;
}