<app-info-card [toolbar]="false">
  <div *ngIf="loaderService.isLoading | async; else statistics">
    <app-spinner></app-spinner>
  </div>
  <ng-template #statistics>
    <div class="statistics-title mb-10">Basic Statistics</div>
    <mat-divider class="mb-10" [style]="{ position: 'relative' }"></mat-divider>
    <div
      class="row statistics-container"
      *ngIf="(this.basicStatistics$ | async) !== null">
      <div class="col-6">
        <span class="font-title">Title:</span> {{ (this.basicStatistics$ | async).title }}
      </div>
      <div class="col-6">
        <span class="font-title">Description:</span>
        {{ (this.basicStatistics$ | async).description }}
      </div>
    </div>

    <div
      class="row statistics-container"
      *ngIf="(this.basicStatistics$ | async) !== null">
      <div class="col-6">
        <span class="font-title">Triples:</span>
        {{ (this.basicStatistics$ | async).triples }}
      </div>
      <div class="col-6">
        <span class="font-title">Entities:</span>
        {{ (this.basicStatistics$ | async).entities }}
      </div>
    </div>

    <div
      class="row statistics-container"
      *ngIf="(this.basicStatistics$ | async) !== null">
      <div class="col-6">
        <span class="font-title">Properties:</span>
        {{ (this.basicStatistics$ | async).properties }}
      </div>
      <div class="col-6">
        <span class="font-title">Classes: </span>
        {{ (this.basicStatistics$ | async).classes }}
      </div>
    </div>

    <div
      class="row statistics-container"
      *ngIf="(this.basicStatistics$ | async) !== null">
      <div class="col-6">
        <span class="font-title">Triples With CIDOC-CRM property:</span>
        {{ (this.basicStatistics$ | async).triplesWithCIDOCproperty }} ({{
          displayFirstThreeDigits(
            (this.basicStatistics$ | async).triplesWithCIDOCpropertyPercentage
          )
        }}%)
      </div>
      <div class="col-6">
        <span class="font-title">Triples With CIDOC-CRM Instance:</span>
        {{ (this.basicStatistics$ | async).triplesWithCIDOCinstance }} ({{
          displayFirstThreeDigits(
            (this.basicStatistics$ | async).triplesWithCIDOCinstancePercentage
          )
        }}%)
      </div>
    </div>

    <div
      class="row statistics-container"
      *ngIf="(this.basicStatistics$ | async) !== null">
      <div class="col-6">
        <span class="font-title"> Properties CIDOC-CRM:</span>
        {{ (this.basicStatistics$ | async).propertiesCIDOC }}
      </div>
      <div class="col-6">
        <span class="font-title">Classes CIDOC-CRM:</span>
        {{ (this.basicStatistics$ | async).classesCIDOC }}
      </div>
    </div>
  </ng-template>
</app-info-card>
