<mat-toolbar color="primary" class="deep-box-shadow">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="d-flex ml-20 xy-center title-logo" (click)="homePage()">
      <span>Semantic Web</span>
      <div class="header-logo xy-center">
        <img class="w-100" src="{{ headerLogoPath }}" alt="" />
      </div>
    </div>

    <div class="w-100 nav-menu">
      <ul class="m-0 d-flex align-items-center">
        <li class="xy-center">
          Databases: {{ nubmerOfDatabases }} Triples: {{ nubmerOfTriples }}
        </li>
        <li class="profile-card xy-center">
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
            {{ user.name + " " + user.lastName }}
            <mat-icon>expand_more</mat-icon>
          </button>
          <mat-menu #menu="matMenu" yPosition="below" xPosition="after">
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Sign out
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
