.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-raised-button.mat-primary.mat-button-disabled {
  background-color: rgb(149 203 139 / 44%);
  color: rgb(255 255 255 / 75%);
}
.mat-raised-button {
  background-color: rgb(149, 203, 139);
  color: white;
}
.reset-btn {
  color: white!important;
}
.reset-btn:hover {
  background-color: rgba(255, 255, 255, 0.068)!important;
}