<nav class="mat-elevation-z1" mat-tab-nav-bar color="primary">
  <ng-content></ng-content>
  <a *ngFor="let tab of tabs"
    [routerLink]="tab.path" #RouterLinkActive="routerLinkActive"
    [routerLinkActiveOptions]="{exact:true}"
    [active]="RouterLinkActive.isActive"
    routerLinkActive  mat-tab-link>
    <mat-icon color="accent" class="tab-icon mr-5">{{ tab.icon }}</mat-icon>
    {{ tab.title }}
  </a>
</nav>
<!-- <a *ngFor="let tab of tabs"
[routerLink]="tab.path" #RouterLinkActive="routerLinkActive"
[routerLinkActiveOptions]="options"
[active]="RouterLinkActive.isActive"
routerLinkActive  mat-tab-link>
<mat-icon color="accent" class="tab-icon mr-5">{{ tab.icon }}</mat-icon>
{{ tab.title }}
</a> -->
